doctype html
html(lang='en')
	head
		//- Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		//- Bootstrap CSS
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
		//- Fontawesome
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
		title Temario de clases
		link(rel='stylesheet' href='style.css')
		link#pageIcon(rel='shortcut icon' href='media/images/pageIcon.svg')
	body#home(data-bs-spy='scroll' data-bs-target='#navbarSticky')
		//-includes
		include pug/_learningPath
		//-background
		.background.container-fluid
		//-principal container
		.container.bg-white.mt-5
			//- title
			.container
				.row
					h1.text-center.pt-2.mb-0
						| Temario de clases 
						i.fas.fa-laptop-code.ps-2
			//- sticky nav
			#navbar.container.sticky-top.bg-white
				hr
				nav#navbarSticky
					ul.nav.nav-pills.justify-content-center
						.container-fluid
							.row
								li.navitem.col-6.col-md-3
									a.navbarSticky__a.nav-link.text-center.px-0(href="#home")
										i.fas.fa-home.me-3
										|Home
								li.navitem.col-6.col-md-3
									a.navbarSticky__a.nav-link.text-center.px-0(href="#ruta")
										i.fas.fa-route.me-3
										|Ruta
								li.navitem.col-6.col-md-3
									a.navbarSticky__a.nav-link.text-center.px-0(href="#tarea")
										i.fas.fa-laptop-house.me-3
										|Tarea
								li.navitem.col-6.col-md-3
									a.navbarSticky__a.nav-link.text-center.px-0(href="#historial")
										i.far.fa-clipboard.me-3
										|Historial
				hr
			//- learning path
			#ruta.container.pt-4
				hr
				h4.h2.text-center Ruta de aprendizaje
				#accordionExample.accordion
					+learningPath("headerid1","bodyid1","HTML")
						p hola
					+learningPath("headerid2","bodyid2","CSS")
						p hola
					+learningPath("headerid3","bodyid3","JS")
						p hola
					+learningPath("headerid4","bodyid4","PUG")
						p hola
					+learningPath("headerid5","bodyid5","SASS")
						p hola
					+learningPath("headerid6","bodyid6","GIT")
						p hola
			//- work
			#tarea.container.pt-4
				hr
				h4.h2.text-center Tarea
				h5 15 de mayo del 2021
				h4 Tarea:
				ul 
					li 25 horas en la semana
					li Terminar de ver el curso de Javascript
					li Ver el curso de Git
						ul
							li: strong Página tiki 
							ul
								li Flecha que desaparece cuando estás arriba 
								li Hacer responsive
			//- work history
			#historial.container.pt-4
				hr
				h4.h2.text-center.gray Historial
					h5 8 de mayo del 2021
					h4 Tarea:
					ul 
						li 5 horas de programación L-V 
						li Diseño de la página de bolsas 
						li Nuevas fotos añadirlas 
						li Modificar la información 
						li Modificar el contacto
			//- footer
			hr
			p.fs-4.pb-4
				| Este temario está en:
				a.btn.btn-primary.mx-2(href='https://github.com/AxelRSa/manuelTemary' target='_blank')
					i.fab.fa-github.fs-4
				|     y está hecho con: 
				img.mx-2(src="media/images/pug.svg", width=25)
				i.fab.fa-sass.mx-2
				i.fab.fa-bootstrap.mx-2
				i.fab.fa-js.mx-2
		script(src="script.js") 
		//- Option 1: Bootstrap Bundle with Popper
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
