doctype html
html(lang='en')
	head
		//- Required meta tags
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		//- Bootstrap CSS
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous')
		//- Fontawesome
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
		title Temario de clases
		link(rel='stylesheet' href='style.css')
		link#pageIcon(rel='shortcut icon' href='media/images/pageIcon.svg')
	body#home(data-bs-spy='scroll' data-bs-target='#navbarSticky' offset='10')
		.background.container-fluid
		.container.bg-white.mt-4
			//- title
			.container
				.row
					h1.text-center.pt-2.mb-0
						| Temario de clases 
						i.fas.fa-laptop-code.ps-2
			//- sticky nav
			.container.sticky-top.bg-white
				hr
				nav#navbarSticky
					ul.nav.nav-pills.justify-content-center
						.container-fluid
							.row
								li.navitem.col-6.col-md-3
									a.nav-link.text-center.px-0(href='#home')
										i.fas.fa-home.me-3
										|Home
								li.navitem.col-6.col-md-3
									a.nav-link.text-center.px-0(href='#ruta')
										i.fas.fa-route.me-3
										|Ruta
								li.navitem.col-6.col-md-3
									a.nav-link.text-center.px-0(href='#tarea')
										i.fas.fa-laptop-house.me-3
										|Tarea
								li.navitem.col-6.col-md-3
									a.nav-link.text-center.px-0(href='#historial')
										i.far.fa-clipboard.me-3
										|Historial
				hr
			//- learning path
			#ruta.container.pt-4
				h4 Ruta de aprendizaje
				#accordionExample.accordion
					.accordion-item
						h2#headingOne.accordion-header
							button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
								| HTML
						#collapseOne.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
							.accordion-body
								strong This is the first item's accordion body.
								|  It is shown by
								|         default, until the collapse plugin adds the appropriate classes that we
								|         use to style each element. These classes control the overall appearance,
								|         as well as the showing and hiding via CSS transitions. You can modify
								|         any of this with custom CSS or overriding our default variables. It's
								|         also worth noting that just about any HTML can go within the
								code .accordion-body
								| , though the transition does limit overflow.
					.accordion-item
						h2#headingTwo.accordion-header
							button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
								| CSS
						#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
							.accordion-body
								strong This is the second item's accordion body.
								|  It is hidden
								|         by default, until the collapse plugin adds the appropriate classes that
								|         we use to style each element. These classes control the overall
								|         appearance, as well as the showing and hiding via CSS transitions. You
								|         can modify any of this with custom CSS or overriding our default
								|         variables. It's also worth noting that just about any HTML can go within
								|         the 
								code .accordion-body
								| , though the transition does limit
								|         overflow.
					.accordion-item
						h2#headingThree.accordion-header
							button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
								| JS
						#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionExample')
							.accordion-body
								strong This is the third item's accordion body.
								|  It is hidden
								|         by default, until the collapse plugin adds the appropriate classes that
								|         we use to style each element. These classes control the overall
								|         appearance, as well as the showing and hiding via CSS transitions. You
								|         can modify any of this with custom CSS or overriding our default
								|         variables. It's also worth noting that just about any HTML can go within
								|         the 
								code .accordion-body
								| , though the transition does limit
								|         overflow.
			//- 17/5/21
			#tarea.container.pt-4
				h5 17 de mayo del 2021
				h4 Tarea:
				ul
					li
						span.fw-bold Terminar: 
						a(href='http://www.flexboxdefense.com/' target='_blank')
							| Flex Defense
					li
						span.fw-bold Estudiar: 
						ul
							li
								span.fw-bold HTML :
								ul
									li Etiqueta form
									li Etiqueta table
									li Etiqueta video
									li Etiqueta audio
									li Etiqueta div
							li
								span.fw-bold Rutas relativas
					li
						span.fw-bold Crear cuenta de Github
				h4 Pendientes:
				ul
					li Cómo instalar preprocesadores
				// 17/5/21
				//- footer
			hr
			//- footer
			p.fs-4.pb-4
				| Este temario está en:
				a.btn.btn-primary.mx-2(href='https://github.com/AxelRSa/manuelTemary' target='_blank')
					i.fab.fa-github.fs-4
				|     y está hecho con: 
				img.mx-2(src="media/images/pug.svg", width=25)
				i.fab.fa-sass.mx-2
				i.fab.fa-bootstrap.mx-2
				i.fab.fa-js.mx-2
				// Option 1: Bootstrap Bundle with Popper
				script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4' crossorigin='anonymous')
